[MASTER]
disable=
    C0114, # missing-module-docstring
    E0611, # no-name-in-module
    R0903, # Too few public methods
    W0622, # redefined-builtin
    R0201, # no-self-use

good-names=
    db,
    id